#BGcor {
   background: #031634;
}

#TituloCor {
color: #E8DDCB;
}

#footerFont {
font-family: "Courier New", Courier, monospace;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: #E8DDCB;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#res{
color: #E8DDCB;
font-size: 23px;
font-weight: normal;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #031634;
   color: black;
   text-align: center;
}

